.search-bar {
  width: 40%;
  margin: 22px;
}

.submit-search {
  margin-top: 10px;
  background-color: #81A3E7;
  color: white;
  border: 2px solid #0C50DA;
}

.submit-search:hover {
    background-color: #0C50DA;
    color: white;
    border: 2px solid #0C50DA;
}
